*{
    padding: 0;
    margin: 0;
}
.red_border{
    border: 2px solid black;
}
.header_text{
    background-color: aqua;
}
p{
    margin: 40px;
    width: 400px;
    display: inline-block;
    /* display: inline; */
}

a{
    width: 400px;
    display: inline-block;
}

img{
    display: none;
    width 400px;
}