*{
    box-sizing: border-box;
}
.container {
    margin: 150px 300px;
}
div {
    border: 2px solid rgb(214, 180, 180);
    padding: 10px;
}
.content{
    display: flex;
}

.left{
    flex-basis: 40%;
}
.right{
    flex-grow: 1;
}