*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(207, 204, 163);
}

nav{
    background-color: black;

}

ul{
    list-style: none;
    text-align: center;
    margin: 30px;
}

li{
    color: white;
    display: inline;
    font-size: 1.6rem;
    padding-inline: 20px;
}

.heading{
font-size: 3rem;
}
.hero-left{
    width: 60%;
    margin-top: 20px;
    margin-left: 30px;
}

.butten-style{
    margin-top: 20px;
}